{% extends 'base.html.twig' %}

{% block body %}

<h1> Bienvenue dans ce blog de Cuisine !</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, eum quisquam officiis totam, amet numquam dolore libero dicta autem tempore nemo? Alias quas qui impedit quam sunt officia doloribus officiis, sequi porro blanditiis pariatur, asperiores tempore perspiciatis vitae commodi possimus.</p>

{% endblock %}